.table{
    border: 2px solid black;
    padding: 4px;
    margin-left: 1px;
}
.list-group-item {
    height: 50px;
}
.Admin_table{
    border-right:2px solid black;
    border-bottom:2px solid black;

}
.Admin_col_1{
    border-right:2px solid black;
    border-bottom:2px solid black;

}
.col-md-6{
    margin-top:50px ;
}
/* .card{
    height: 170px;
    width: 300px;
    margin-top: 100px;
} */
 
.containe{
    padding: 5px;
    margin-top: 5px;
}
 
 
