/* .list-group1 {
    width: 100%;
    color: rgb(234, 230, 230);
}

.list-group-item1 {
    margin: 20px ;
}

.suggestion-box {
    height: 15vh;
    padding-left: 18px;
}

.container1{
    background-color: black;
} */
.contact-left-container{
    background-color: white;
    height: 100%;
    width: 100%;
}

