.img3{
    height:70vh;
    width: 100vh;
margin-bottom: 5vh;
margin-left: 2vh;
margin-top: 5vh;
}
.landCruiser1{
    background-color: white;
    height: 100%;
}
.landCruiser2{
    margin-left: -8vh;
    margin-top: 5vh;
}